  <footer class="footer">
    <div class="container">
      <div class="footer-body">
        <div class="footer-body__item">
          <span class="footer-body__title footer-title"><img src="../img/logo.png" alt="company_logo"></span>
          <p class="footer-body__text text-section">eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
          consequat.</p>
        </div>
        <div class="footer-body__item">
          <h4 class="footer-body__title footer-title">Subscribe </h4>
          <div class="footer-body__input">
            <input class="footer-input" type="email" name="subscribe" id="emailSubscribe"><i class="fas fa-arrow-right"></i>
          </div>
          <p class="footer-body__text text-section">eusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="footer-body__item">
          <h4 class="footer-body__title footer-title">Explore</h4>
          <div class="footer-item__list">
          <ul class="footer-body__list">
              <li><a href="#" target="_blank">Envato</a></li>
              <li><a href="#" target="_blank">Themecurve</a></li>
              <li><a href="#" target="_blank">Kreativeshowcase</a></li>
              <li><a href="#" target="_blank">Freebiescurve</a></li>
          </ul>
          <ul class="footer-body__list">
              <li><a href="#" target="_blank">Themeforest</a></li>
              <li><a href="#" target="_blank">Microsoft</a></li>
              <li><a href="#" target="_blank">Google</a></li>
              <li><a href="#" target="_blank">Yahoo</a></li>
          </ul>
        </div>
        </div>
        <div class="footer-body__item">
          <p class="footer-body__text copyright-section">Created with <span><img src="../img/heart-grey.png" alt=""></span> by <a href="#">themecurve</a>, 
          exclusive for kreativeshowcase</p>
          <p class="copyrights-name">© 2019 Brandi. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="js/libs.js"></script>
  <script src="js/main.js"></script>
</body>
</html>